<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <listener>
        <description>HttpSessionListener</description>
        <listener-class>SessionCounter</listener-class>
    </listener>
    <servlet>
        <servlet-name>UploadImage</servlet-name>
        <servlet-class>UploadImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCaption</servlet-name>
        <servlet-class>EditCaption</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Resize</servlet-name>
        <servlet-class>Resize</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewStats</servlet-name>
        <servlet-class>ViewStats</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadImage</servlet-name>
        <url-pattern>/UploadImage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RotateImage</servlet-name>
        <servlet-class>RotateImage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RotateImage</servlet-name>
        <url-pattern>/RotateImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCaption</servlet-name>
        <url-pattern>/EditCaption</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Resize</servlet-name>
        <url-pattern>/Resize</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewStats</servlet-name>
        <url-pattern>/ViewStats</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1
        </session-timeout>
    </session-config>
</web-app>
